html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-links a {
  text-decoration: none;
}
