---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "work";
---

<BaseLayout pageTitle={pageTitle}
  ><h1>work</h1>
  <ul>
    <li><a href="/projects/project-1">project 1</a></li>
    <li><a href="/projects/project-2">project 2</a></li>
  </ul>
</BaseLayout>
